### Datasets
- 2018 CA inpatient dataset - https://data.chhs.ca.gov/dataset/hospital-inpatient-diagnosis-procedure-and-external-cause-codes/
- Attribution to CA https://data.chhs.ca.gov/pages/terms

The attributes of the data are:
1. `ICD10CMCODE` - The ICD-10-CM Code
2. `DiagnosisDesc` - Diagnosis Description 
3. `TotalDiag` - Count of Total Diagnosis	
4. `PrimaryDiag` - Count of Primary Diagnosis	
5. `SecondDiag` - Count of Secondary Diagnosis

### Instructions
Please use the dataset above from the state of California that provides the total inpatient diagnosis counts using the ICD10 - CM code set. 
1. Give the codes that have 'SEPSIS" in the description (HINT: could use the str.contains function)
1. What percentage of primary diagnosis can be grouped at the category level with A41? 
1. If you were to create a metacategory for sepsis, what percentage of secondary diagnosis codes would be grouped with using just the first character?

In [1]:
import pandas as pd
import numpy as np

In [2]:
ca_icd_dx_path = "ICD10.csv"
#last row is malformed
dx_df = pd.read_csv(ca_icd_dx_path).fillna(0)[:-1]

In [3]:
dx_df.head()

,ICD10CMCODE,DiagnosisDesc,TotalDiag,PrimaryDiag,SecondDiag
0,A00.0,"CHOLERA DUE TO VIBRIO CHOLERAE 01, BIOVAR CHOL...",5,1,4
1,A00.9,"CHOLERA, UNSPECIFIED",4,1,3
2,A01.00,"TYPHOID FEVER, UNSPECIFIED",56,27,29
3,A01.01,TYPHOID MENINGITIS,1,0,1
4,A01.02,TYPHOID FEVER WITH HEART INVOLVEMENT,1,0,1

**1. Give the codes that have 'SEPSIS' in the description**

In [4]:
matching_sepsis_df=dx_df[dx_df['DiagnosisDesc'].str.contains('SEPSIS')]

In [5]:
matching_sepsis_df.head()

,ICD10CMCODE,DiagnosisDesc,TotalDiag,PrimaryDiag,SecondDiag
8,A02.1,SALMONELLA SEPSIS,280,255,25
115,A22.7,ANTHRAX SEPSIS,3,0,3
129,A26.7,ERYSIPELOTHRIX SEPSIS,4,1,3
150,A32.7,LISTERIAL SEPSIS,38,32,6
183,A40.0,"SEPSIS DUE TO STREPTOCOCCUS, GROUP A",1929,1651,278

**2. What percentage of primary diagnosis could be grouped at the category level with A41**

In [11]:
a41_cat_level_sum = sum(matching_sepsis_df[matching_sepsis_df['ICD10CMCODE'].str.startswith('A41')]['PrimaryDiag'].astype(int))

In [12]:
a41_cat_level_sum

281924

In [13]:
total_primary_dx = sum(matching_sepsis_df['PrimaryDiag'].astype(int))
total_primary_dx

294017

In [14]:
float(a41_cat_level_sum/total_primary_dx)

0.9588697252199703

**3. If you were to create a metacategory for sepsis, what percentage of secondary diagnosis codes would be grouped with using the first character as A?**

In [15]:
a_cat_level_sum = sum(matching_sepsis_df[matching_sepsis_df['ICD10CMCODE'].str.startswith('A')]['SecondDiag'].astype(int))
a_cat_level_sum

69056

In [16]:
total_secondary_dx = sum(matching_sepsis_df['SecondDiag'].astype(int))
total_secondary_dx

230786

In [17]:
float(a_cat_level_sum/total_secondary_dx)

0.299220923279575