**Datasets**
* 2018 CA inpatient dataset - https://data.chhs.ca.gov/dataset/hospital-inpatient-diagnosis-procedure-and-external-cause-codes/
* Attribution to CA https://data.chhs.ca.gov/pages/terms

### Instructions
Please use the dataset above from the state of California that provides the total inpatient diagnosis counts using the ICD10 - PCS code set. 
1. Give the codes that have 'CORONARY ARTERY" in the description
2. What percentage of cases that have 'CORONARY ARTERY' in their description have primary procedure codes that could be grouped at the B category level? 
3. What is the highest percentage grouping you can make with 3 characters for the secondary procedure code?

In [1]:
import pandas as pd
import numpy as np

In [2]:
proc_df = pd.read_csv('ICD10PCS.csv').fillna(0)[:-1]

In [3]:
proc_df.head()

,ProcedureCode,ProcedureDesc,TotalProc,PrimaryProc,SecondProc
0,0016073,"BYPASS CEREB VENT TO BLOOD VESS W AUTOL SUB, OPEN",2,0,2
1,00160J2,"BYPASS CEREB VENT TO ATRIUM WITH SYNTH SUB, OP...",17,8,9
2,00160J4,"BYPASS CEREB VENT TO PLEURAL CAV W SYNTH SUB, ...",17,6,11
3,00160J6,"BYPASS CEREB VENT TO PERITON CAV W SYNTH SUB, ...",1372,796,576
4,00160JB,BYPASS CEREB VENT TO CEREB CISTERN W SYNTH SUB...,46,17,29

**Solution**

**1. Give the codes that have 'CORONARY ARTERY' in the description**

In [4]:
coronary_df = proc_df[proc_df['ProcedureDesc'].str.contains('CORONARY ARTERY')]
coronary_df

,ProcedureCode,ProcedureDesc,TotalProc,PrimaryProc,SecondProc
1190,02700ZZ,"DILATION OF CORONARY ARTERY, ONE ARTERY, OPEN ...",7,3,4
1209,02703ZZ,"DILATION OF CORONARY ARTERY, ONE ARTERY, PERC ...",4216,1508,2708
1216,02704ZZ,"DILATION OF CORONARY ARTERY, ONE ARTERY, PERC ...",17,4,13
1239,02713ZZ,"DILATION OF CORONARY ARTERY, TWO ARTERIES, PER...",364,121,243
1262,02723ZZ,"DILATION OF CORONARY ARTERY, THREE ARTERIES, P...",41,19,22
1661,02N00ZZ,"RELEASE CORONARY ARTERY, ONE ARTERY, OPEN APPR...",51,33,18
1662,02N10ZZ,"RELEASE CORONARY ARTERY, TWO ARTERIES, OPEN AP...",2,1,1
1741,02Q00ZZ,"REPAIR CORONARY ARTERY, ONE ARTERY, OPEN APPROACH",87,26,61
1742,02Q03ZZ,"REPAIR CORONARY ARTERY, ONE ARTERY, PERCUTANEO...",10,5,5
1743,02Q10ZZ,"REPAIR CORONARY ARTERY, TWO ARTERIES, OPEN APP...",5,0,5
1744,02Q13ZZ,"REPAIR CORONARY ARTERY, TWO ARTERIES, PERCUTAN...",1,1,0
1881,02S00ZZ,"REPOSITION CORONARY ARTERY, ONE ARTERY, OPEN A...",98,56,42
1882,02S10ZZ,"REPOSITION CORONARY ARTERY, TWO ARTERIES, OPEN...",153,34,119
26121,B2100ZZ,FLUOROSCOPY OF SINGLE CORONARY ARTERY USING H ...,4,0,4
26123,B2101ZZ,FLUOROSCOPY OF SINGLE CORONARY ARTERY USING L ...,1487,64,1423
26125,B210YZZ,FLUOROSCOPY OF SINGLE CORONARY ARTERY USING OT...,337,13,324
26178,B240YZZ,ULTRASONOGRAPHY OF SINGLE CORONARY ARTERY USIN...,10,0,10
26179,B240ZZ3,"ULTRASONOGRAPHY OF SINGLE CORONARY ARTERY, INT...",2315,2,2313
26180,B240ZZ4,"ULTRASONOGRAPHY OF SINGLE CORONARY ARTERY, TRA...",13,7,6
26181,B240ZZZ,ULTRASONOGRAPHY OF SINGLE CORONARY ARTERY,9,1,8

**2. What percentage of primary procedure codes could be grouped at the B category level?**

In [5]:
B_cat_level_sum = sum(coronary_df[coronary_df['ProcedureCode'].str.startswith('B')]['PrimaryProc'].astype(int))

In [6]:
B_cat_level_sum

87

In [7]:
total_primary_proc = sum(coronary_df['PrimaryProc'].astype(int))
total_primary_proc

1898

In [8]:
float(B_cat_level_sum/total_primary_proc)

0.0458377239199157

**3. What is the highest percentage grouping you can make with 3 characters for the secondary procedure code?**

In [9]:
three_code_list = set(coronary_df['ProcedureCode'].str[0:3])
three_code_list

{'027', '02N', '02Q', '02S', 'B21', 'B24'}

In [10]:
def calculate_percent_grouped(df, three_letter_code):
    second_group_level_sum = sum(df[df['ProcedureCode'].str.startswith(three_letter_code)]['SecondProc'].astype(int))
    total_secondary_proc = sum(df['SecondProc'].astype(int))
    print("Three letter code:{}\nPercent Grouped:{}".format( three_letter_code, 
                                                            float(second_group_level_sum/total_secondary_proc)))

In [11]:
for c in three_code_list:
    calculate_percent_grouped(coronary_df, c)

Three letter code:027
Percent Grouped:0.40796834493109563
Three letter code:B21
Percent Grouped:0.23891390367035067
Three letter code:02Q
Percent Grouped:0.009687542638832036
Three letter code:B24
Percent Grouped:0.31887024150634463
Three letter code:02N
Percent Grouped:0.002592440987856461
Three letter code:02S
Percent Grouped:0.021967526265520534