In [1]:
import pandas as pd
import numpy as np

In [2]:
code_list = ["02C24ZZ", "02C33Z6", "D2C33ZZ", "Z2C34Z6", "D2C34ZZ", "4A020N6"]

In [3]:
description_list = ["Percutaneous transluminal angioplasty", "Percutaneous transluminal coronary angioplasty",
"Percutaneous transluminal angioplasty", "Percutaneous transluminal angioplasty", "Percutaneous transluminal angioplasty",
"Diagnostic cardiac catheterization; coronary" ]

In [4]:
sample_df = pd.DataFrame({"sample_code": code_list, "code_description": description_list})

In [5]:
sample_df

  sample_code                                code_description
0     02C24ZZ           Percutaneous transluminal angioplasty
1     02C33Z6  Percutaneous transluminal coronary angioplasty
2     D2C33ZZ           Percutaneous transluminal angioplasty
3     Z2C34Z6           Percutaneous transluminal angioplasty
4     D2C34ZZ           Percutaneous transluminal angioplasty
5     4A020N6    Diagnostic cardiac catheterization; coronary

### 1. Searching for Codes with  Text Patttern
  *  Searching for text with string methods like contains()

In [6]:
matched_string_df = sample_df[sample_df['code_description'].str.contains('angioplasty')]

In [7]:
matched_string_df

  sample_code                                code_description
0     02C24ZZ           Percutaneous transluminal angioplasty
1     02C33Z6  Percutaneous transluminal coronary angioplasty
2     D2C33ZZ           Percutaneous transluminal angioplasty
3     Z2C34Z6           Percutaneous transluminal angioplasty
4     D2C34ZZ           Percutaneous transluminal angioplasty

In [8]:
# Here is the row that didn't match the have string in the description
unmatched_string_df = sample_df[~sample_df['code_description'].str.contains('angioplasty')]

In [9]:
unmatched_string_df

  sample_code                              code_description
5     4A020N6  Diagnostic cardiac catheterization; coronary

### 2. Grouping by character
  * Use startswith function to get the codes that start with the first x number of characters

In [10]:
first_char_group_df = sample_df[sample_df['sample_code'].str.startswith('4')]

In [11]:
first_char_group_df

  sample_code                              code_description
5     4A020N6  Diagnostic cardiac catheterization; coronary

In [12]:
two_char_group_df = sample_df[sample_df['sample_code'].str.startswith('D2')]

In [13]:
two_char_group_df

  sample_code                       code_description
2     D2C33ZZ  Percutaneous transluminal angioplasty
4     D2C34ZZ  Percutaneous transluminal angioplasty